* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: hsl(120, 100%, 3%);
	--button-color: purple;
	--answer-color: hsl(120, 100%, 10%);
	--answer-color-selected: hsl(123, 100%, 20%);
	--font-color: white;
	--outline-color: #fff8;
}
html {
	block-size: 100%;
	scrollbar-color: gray #1f1f1f;
	scrollbar-width:auto;
}

body {
	background-color:#0f0f0f;
	color: var(--font-color);
	font-family: "Montserrat", sans-serif;
	line-height: 1.4;
	min-block-size: 100%;
}

button {
	font-size: inherit;
	font-family: inherit;
	background: none;
	border: none;
	color: inherit;
	background-color:#21262e;
	border-radius: .2rem;
	padding: 0.6rem 1rem;
	border: 1px solid #f0f6fc1a;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: .1s;
	/* letter-spacing: .1ch; */
}
button:hover {
	background-color: #30363d;
	border-color:#8b949e;
}



button:disabled {
	opacity: 0.3;
	cursor:not-allowed;
}

button:is(:disabled):hover {
	background-color: #21262e;
	border-color: #f0f6fc1a;
}
#app {
	min-height:100vh;
	/* display: flex;
	justify-content: center;
	flex-direction: column; */
}
.hljs {
	max-width: 100%;
    background-color: #0f0f0f!important; 
    font-size: 1rem;
	overflow-x: visible!important;
	/* user-select: none!important; */
}